<app-card variant="secondary" class="form-search">
    <form [formGroup]="formSearchService.formSearch" (ngSubmit)="search()">
        <h2>Passagens</h2>
        <div class="flex-container">
            <mat-button-toggle-group aria-label="Tipo de passagem" formControlName="oneWay">
                <mat-button-toggle [value]="false">
                    <mat-icon *ngIf="!formSearchService.formSearch.get('oneWay')?.value">check</mat-icon>
                    IDA E VOLTA
                </mat-button-toggle>
                <mat-button-toggle [value]="true">
                    <mat-icon *ngIf="formSearchService.formSearch.get('oneWay')?.value">check</mat-icon>
                    SOMENTE IDA
                </mat-button-toggle>
            </mat-button-toggle-group>
            <mat-chip (click)="formSearchService.openDialog()">
                <div class="inner">
                    <mat-icon>check</mat-icon> {{formSearchService.getPassengersDescription()}}
                </div>
            </mat-chip>
            <mat-chip (click)="formSearchService.openDialog()">
                <div class="inner">
                    <mat-icon>check</mat-icon> {{formSearchService.getControl('type').value}}
                </div>
            </mat-chip>
        </div>
        <div class="flex-container">
            <div class="drop-container">
                <app-dropdown-state label="Origem" matPrefix="flight_takeoff"
                    [control]="formSearchService.getControl('origin')" placeholder="Origem"></app-dropdown-state>
            </div>
            <button mat-icon-button (click)="formSearchService.switchDestiny()">
                <mat-icon>sync_alt</mat-icon>
            </button>
            <div class="drop-container">
                <app-dropdown-state [label]="'Destino'" matPrefix="flight_land"
                    [control]="formSearchService.getControl('destination')" placeholder="Destino"></app-dropdown-state>
            </div>
            <mat-form-field class="input-container" appearance="outline">
                <mat-label>Data de ida</mat-label>
                <input matInput [matDatepicker]="ida">
                <mat-datepicker-toggle matIconSuffix [for]="ida"></mat-datepicker-toggle>
                <mat-datepicker #ida></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="input-container" appearance="outline">
                <mat-label>Data da volta</mat-label>
                <input matInput [matDatepicker]="volta">
                <mat-datepicker-toggle matIconSuffix [for]="volta"></mat-datepicker-toggle>
                <mat-datepicker #volta></mat-datepicker>
            </mat-form-field>
            <button mat-flat-button color="primary">BUSCAR</button>
        </div>
    </form>
</app-card>