<section class="modal">
    <h1 mat-dialog-title>Viajante</h1>
    <mat-dialog-content>
        <div class="age-select">
            <app-passenger-selector [formControl]="formSearchService.getControl('adults')" title="Adultos" subtitle="(Acima de 12 anos)"></app-passenger-selector>
            <app-passenger-selector [formControl]="formSearchService.getControl('children')" title="Crianças" subtitle="(Entre 2 e 11 anos)"></app-passenger-selector>
            <app-passenger-selector [formControl]="formSearchService.getControl('babies')" title="Bebês" subtitle="(Até 2 anos)"></app-passenger-selector>
        </div>
        <div class="select-category">
            <p><strong>Categoria</strong></p>
            <mat-chip-listbox>
                <mat-chip-option value="Econômica" [selected]="formSearchService.formSearch.get('tipo')?.value == 'Econômica'"
                (selectionChange)="formSearchService.changeType($event, 'Econômica')">Econômica</mat-chip-option>
                <mat-chip-option value="Executiva" [selected]="formSearchService.formSearch.get('tipo')?.value == 'Executiva'"
                (selectionChange)="formSearchService.changeType($event, 'Executiva')">Executiva</mat-chip-option>
            </mat-chip-listbox>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button color="primary" mat-button mat-dialog-close>Buscar</button>
    </mat-dialog-actions>
</section>