<app-banner src="assets/imagens/banner-homepage.png" alt="Baner"></app-banner>
<app-container>
    <h2>Promoções</h2>
    <app-form-search (makeSearch)="navigateToSearch($event)"></app-form-search>
    <div class="card-wrapper">
        <app-card-search *ngFor="let promotion of promotions" [promotion]="promotion"></app-card-search>
    </div>
    <h2>Depoimentos</h2>
    <div class="card-wrapper">
        <app-card-testimony *ngFor="let testimony of testimonials" [testimonial]="testimony"></app-card-testimony>
    </div>
</app-container>